/*
  VARS:
  $contentbgcolor
*/

@import "susy/sass/susy";

@font-face {
  font-family: 'Sans 1';
  src: url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
}

@include global-box-sizing(border-box);

$susy: (
  container: 960px,
  columns: 12
);

.header-container {
  width: 100%;
  padding: 20px;
  text-align: center;
  font-family: 'Sans 1', sans-serif;

  .title {
    font-size: 36px;
  }
}

.nav-container {
  text-align: center;
  padding: 30px;

  .nav {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Sans 1', sans-serif;

    li {
      display: inline-block;
      padding: 10px;
    }
  }
}

.container {
  @include container;
}

.element {
  @include span(4);
  margin-bottom: gutter();

  &:nth-child(3n) {
    @include last;
  }

  .image {
    height: 240px;
    background-size: cover;
    background-position: center;
  }

  .content {
    background-color: $contentbgcolor;

    padding: 20px;

    font-family: 'Sans 1', sans-serif;
    font-weight: bold;
  }
}