/*
  VARS:
  $contentbgcolor
  $navfontsize
  $contentfontsize
  $contentfontweight
  $gridgutters
  $elementwidth
  $font
*/

@import "susy/sass/susy";

@include global-box-sizing(border-box);

$susy: (
  container: 960px,
  columns: 12,
  gutters: $gridgutters
);

.header-container {
  width: 100%;
  padding: 20px;
  text-align: center;
  font-family: '#{$font}', sans-serif;

  .title {
    font-size: 36px;
  }
}

.nav-container {
  text-align: center;
  padding: 30px;

  .nav {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: '#{$font}', sans-serif;
    font-size: $navfontsize;

    li {
      display: inline-block;
      padding: 10px;
    }
  }
}

.container {
  @include container;
}

.element {
  @include span($elementwidth);
  margin-bottom: gutter();

  &:nth-child(#{12/$elementwidth}n) {
    @include last;
  }

  .image {
    height: 240px;
    background-size: cover;
    background-position: center;
  }

  .content {
    background-color: $contentbgcolor;

    padding: 20px;

    font-family: '#{$font}', sans-serif;
    font-size: $contentfontsize;
    font-weight: $contentfontweight;
  }
}